---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import BannerSection from '../components/sections/BannerSection.astro';
import OurApproachSection from '../components/sections/OurApproachSection.astro';
import OurExperienceSection from '../components/sections/OurExperienceSection.astro';
import GetInTouchSection from '../components/sections/GetInTouchSection.astro';
import JournalSection from '../components/sections/JournalSection.astro';
import TeamSection from '../components/sections/TeamSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="buzhi - investing in early stage tech explorations">
	<Header />
	
	<main>
		<BannerSection />
		<OurApproachSection />
		<OurExperienceSection />
		<GetInTouchSection />
		<JournalSection />
		<TeamSection />
	</main>

	<Footer />
</Layout>