---
import GetInTouchUnderline from '../svg/GetInTouchUnderline.astro';
---

<section class="get-in-touch-area" id="getInTouch">
    <div class="container">
        <div class="get-in-touch-wrapper">
            <img src="/assets/img/shape/get-in-tuch.svg" alt="shape" class="shape">
            <div class="get-in-touch-wrap">
                <div class="get-in-touch-title">
                    <img src="/assets/img/all-svg/get-in-touch-title-shape.svg" alt="get-in-touch-shape">
                    <div class="content-inner">
                        <h2>get in <span>touch</span></h2>
                        <p>If you're working on something cool, we want to hear from you. Contact us.</p>
                    </div>
                    <span class="underline">
                        <GetInTouchUnderline />
                    </span>
                </div>
                <div class="get-in-touch-mail-wrap">
                    <a class="get-in-touch-mail" href="mailto:hello@buzhi.io">hello@buzhi.io</a>
                    <span class="get-in-tuch-left-shape"></span>
                    <span class="get-in-tuch-right-shape"></span>
                </div>
            </div>
        </div>
    </div>
</section>