---
import DotsGroupShape from '../svg/DotsGroupShape.astro';
import ApproachTitleShape from '../svg/ApproachTitleShape.astro';
---

<section class="our-approach-area" id="approach">
    <div class="dots-group-shape">
        <DotsGroupShape />
    </div>
    <div class="container">
        <div class="our-approach-wrapper">
            <div class="our-approach-content">
                <div class="our-approach-title">
                    <div class="shpae">
                        <ApproachTitleShape />
                        <ApproachTitleShape />
                        <ApproachTitleShape />
                        <ApproachTitleShape />
                        <ApproachTitleShape />
                    </div>
                    <h2>our
                        <span>approach</span></h2>
                </div>
                <div class="approach-items">
                    <div class="approach-items-inner">
                        <div class="single-approach-item">
                            <div class="image single-approach-item-01-image">
                                <div class="image-inner ">
                                    <img src="/assets/img/all-svg/approach-01.svg" alt="approach">
                                </div>
                            </div>
                            <div class="content">
                                <h4>Early-Stage Investment</h4>
                                <p>We invest in seed or pre-seed rounds in exchange for equity or crypto-tokens.</p>
                            </div>
                        </div>
                        <div class="single-approach-item">
                            <div class="image">
                                <div class="image-inner">
                                    <img src="/assets/img/all-svg/approach-02.svg" alt="approach">
                                </div>
                            </div>
                            <div class="content">
                                <h4>Problem Solving</h4>
                                <p>We collaborate with founders on challenging problems, providing our expertise while respecting their time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-approach-item">
                        <div class="image">
                            <div class="image-inner">
                                <img src="/assets/img/all-svg/approach-03.svg" alt="approach">
                            </div>
                        </div>
                        <div class="content">
                            <h4>Hands-On Collaboration</h4>
                            <p>We work closely with your team, tinkering with your tech and helping you build a strong community.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-approach-map-wrap">
                <div class="our-approach-map">
                    <img src="/assets/img/map.png" alt="black and yellow planet">
                </div>
            </div>
        </div>
    </div>
</section>