---
import ExperienceThumb from '../svg/ExperienceThumb.astro';
import ApproachTitleShape from '../svg/ApproachTitleShape.astro';
---

<section class="experince-area" id="exprience">
    <div class="container">
        <div class="experince-wrapper">
            <div class="experince-wrap">
                <div class="experince-thumb">
                    <ExperienceThumb />
                </div>
                <div class="experince-content">
                    <div class="shape">
                        <img src="/assets/img/all-svg/experince-shpe-02.svg" alt="experience">
                    </div>
                    <div class="title">
                        <img src="/assets/img/all-svg/experince-shpe-01.svg" alt="experience">
                        <h2>our experience  
                           <span>comes from</span></h2>
                    </div>
                    <ul class="content">
                        <li>
                            OpenZeppelin
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Decentraland
                            <ApproachTitleShape />
                        </li>
                        <li>
                            The Graph
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Fundit
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Aleph
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Optimism
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Li.finance
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Mimic
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Exactly
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Mailchain
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Connext
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Pods
                            <ApproachTitleShape />
                        </li>
                        <li>
                            ODOS
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Cedalio
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Flashbots
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Snapshot
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Tally
                            <ApproachTitleShape />
                        </li>
                        <li>
                            POAP
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Mountain Protocol
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Ensuro
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Nowadays
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Mudafy
                            <ApproachTitleShape />
                        </li>
                        <li>
                            Rainbow
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>