---
import BannerTextUnderline from '../svg/BannerTextUnderline.astro';
import TeamMiddleUnderline from '../svg/TeamMiddleUnderline.astro';
---

<section class="team-area" id="team">
    <div class="container">
        <div class="team-wrapper">
            <img class="plus-shape" src="/assets/img/shape/plus.svg" alt="shape">
            <div class="team-wrapper-inner">
                <div class="team-title">
                    <h2>team</h2>
                    <img src="/assets/img/team/title-shape.svg" alt="title-shape">
                </div>
                <div class="team-member-wrap">
                    <!-- shapes Start -->
                    <span class="underline-top">
                        <BannerTextUnderline />
                    </span>
                    <span class="underline-middle">
                        <TeamMiddleUnderline />
                    </span>
                    <span class="underline-bottom">
                        <BannerTextUnderline />
                    </span>
                    <!-- shapes End -->

                    <a href="https://twitter.com/maraoz" target="_blank">
                        <div class="single-team-member">
                            <div class="thumb">
                                <div class="thumb-inner">
                                    <img src="/assets/img/team/manuel.jpg" alt="team-member">
                                </div>
                            </div>
                            <div class="content">
                                <h6>maraoz</h6>
                                <p>[founder]</p>
                            </div>
                        </div>
                    </a>

                    <a href="https://twitter.com/0xtoucan" target="_blank">
                        <div class="single-team-member">
                            <div class="thumb">
                                <div class="thumb-inner">
                                    <img src="/assets/img/team/martin.png" alt="team-member">
                                </div>
                            </div>
                            <div class="content">
                                <h6>0xtoucan</h6>
                                <p>[founder]</p>
                            </div>
                        </div>
                    </a>

                    <div class="single-team-shape">
                        <img src="/assets/img/team/shape-01.svg" alt="shape">
                    </div>
                    <a href="https://twitter.com/seibo03" target="_blank">
                        <div class="single-team-member">
                            <div class="thumb">
                                <div class="thumb-inner">
                                    <img src="/assets/img/team/mora.png" alt="team-member">
                                </div>
                            </div>
                            <div class="content">
                                <h6>Mora S</h6>
                                <p>[ops + research]</p>
                            </div>
                        </div>
                    </a>
                    
                    <div class="single-team-member">
                        <div class="thumb">
                            <div class="thumb-inner">
                                <img src="/assets/img/team/ivan.jpg" alt="team-member">
                            </div>
                        </div>
                        <div class="content">
                            <h6>Ivan M</h6>
                            <p>[lead developer]</p>
                        </div>
                    </div>
                    <div class="single-team-member">
                        <div class="thumb">
                            <div class="thumb-inner">
                                <img src="/assets/img/team/member-04.png" alt="team-member">
                            </div>
                        </div>
                        <div class="content">
                            <h6>Angello</h6>
                            <p>[design]</p>
                        </div>
                    </div>
                    <div class="single-team-shape team-shep-03">
                        <img src="/assets/img/team/shape-02.svg" alt="shape">
                    </div>
                    <div class="single-team-member">
                        <div class="thumb">
                            <div class="thumb-inner">
                                <img src="/assets/img/team/lemu.jpg" alt="team-member">
                            </div>
                        </div>
                        <div class="content">
                            <h6>Lemu</h6>
                            <p>[advisor]</p>
                        </div>
                    </div>
                    <div class="single-team-shape-3">
                        <img src="/assets/img/team/shape-03.svg" alt="shape">
                    </div>
                    <div class="single-team-member">
                        <div class="thumb">
                            <div class="thumb-inner">
                                <img src="/assets/img/team/tambor.png" alt="team-member">
                            </div>
                        </div>
                        <div class="content">
                            <h6>Tambor</h6>
                            <p>[chief paw officer]</p>
                        </div>
                    </div>
                    <div class="single-team-shape-4">
                        <img src="/assets/img/team/shape-04.svg" alt="shape">
                    </div>
                    <div class="single-team-member">
                        <div class="thumb">
                            <div class="thumb-inner">
                                <img src="/assets/img/team/prantho.jpg" alt="team-member">
                            </div>
                        </div>
                        <div class="content">
                            <h6>Prantho D</h6>
                            <p>[frontend]</p>
                        </div>
                    </div>
                    <div class="single-team-shape">
                        <img src="/assets/img/team/shape-05.svg" alt="shape">
                    </div>
                    <div class="single-team-member">
                        <div class="thumb">
                            <div class="thumb-inner">
                                <img src="/assets/img/team/valen.png" alt="team-member">
                            </div>
                        </div>
                        <div class="content">
                            <h6>Valen G</h6>
                            <p>[comms]</p>
                        </div>
                    </div>
                    <div class="single-team-member">
                        <div class="thumb">
                            <div class="thumb-inner">
                                <img src="/assets/img/team/mat.png" alt="team-member">
                            </div>
                        </div>
                        <div class="content">
                            <h6>Mat T</h6>
                            <p>[advisor]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>