<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>不知 BUZHI</title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all">

    <script defer data-domain="buzhi.io" src="https://plausible.io/js/script.js"></script>

</head>
<body class="{{class}}">
