<!-- Header Link -->
{% include "../../../../elements/header-link.twig" with {'class': 'blog-home'} %}
<!-- Header  -->
{% include "../../../../elements/header.twig" with {'class': 'no-navbar'} %}

<main>

    <!-- Blog Area Start -->
    <div class="blog-area">
        <div class="container">
            <div class="blog-wrapper">
                <img class="star-shape" src="/assets/img/shape/star-shape.svg" alt="shape">
                <div class="blog-wrap">
                    <div class="blog-top">
                        <div class="explore">
                            <h6>scroll to <br>explore</h6>
                            <img src="/assets/img/shape/investing-shape-01.svg" alt="investing">
                        </div>
                        <div class="blog-top-inner">
                            {% include "../../../../elements/svg/dots-group-shape.twig" %}
                            <span>Friday, June 30, 2023</span>
                            <h1>Introducing Buzhi: Early-Stage Tech Investments</h1>
                        </div>
                    </div>
                    <!-- Blog Exprience -->
                    <div class="blog-exp-wrpper">
                        <div class="blog-exp-inner">
                            <div class="blog-exp-thumb">
                                <img src="/assets/img/team/shape-02.svg" alt="blog">
                            </div>
                            <div class="blog-exp-content">
                                <p>For many years, we (<a href="https://maraoz.com/">Manuel</a> and <a href="https://twitter.com/0xtoucan">Martin</a>) have been working deep in the crypto industry.</p>
    
                                <p>Today, we are happy to announce Buzhi, supporting those who dare to explore the unknown. Read on to discover more.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Banner -->
                    <div class="blog-banner">
                        <img src="/assets/img/journal/announcement-cover.jpg" alt="announcement cover">
                    </div>
                    <!-- Details -->
                    <div class="blog-details-wrap">
                        <div class="blog-details">
                            
                            <br />
                            <p>
                                For several years now, we've both been investing and advising founders & early teams. This has been a greatly rewarding and fun activity. We've recently decided to give these efforts a name and identity. After some brainstorming and soul-searching, we arrived at the following, which represents how we think about investing.
                            </p>
                            <h4>
                                ~⌭ Introducing Buzhi ⌭~
                            </h4>
                            <p>
                                Welcome to Buzhi, where we invest in the unknown and help explore the uncharted territories of technology.
                            </p>
    
                            <p>
                                We believe that the most revolutionary technological breakthroughs emerge at the fringes of human knowledge. Our mission is to support visionary founders worldwide who are unafraid to play with technology, even when the end goal remains unclear.
                            </p>

                            <p> 
                                不知, pronounced Buzhi, means ‘unknown’ in Chinese. It represents our commitment to backing the unexplored.
                            </p>
    
                            <p>
                                As builders ourselves, we understand some of the challenges of prospecting new ideas, and we want to provide a helping hand through early-stage investments, hands-on collaboration, and problem-solving. 
                            </p>
    
                            <h4>Our Investment Philosophy</h4>
                            <h5>What we invest in</h5>
                            <p>
                                Our focus lies in seed or pre-seed investments, which we exchange for equity or crypto-tokens. We believe that by investing in the earliest stages, we can provide the necessary resources and support for founders to bring their ideas to life.
                            </p>
    
                            <h5>Battle-testing our investments</h5>
                            <p>
                                Robust community and code are essential for the success of any tech venture. We will work side-by-side with projects we invest in, tinkering with their tech (both by building and adversarially trying to break), and helping them grow a thriving community that shares their vision.
                            </p>
    
                            <h5>Tackling Challenges Together</h5>
                            <p>
                                Innovation comes with lots of obstacles. We collaborate with founders to address complex problems at their request. We strive to provide our advice while respecting founder's time.
                            </p>

                            <h4></h4>
                            <p>We invite you to join us on this journey. If the above resonates with you, or you're working on a weird idea, don't hesitate to contact us. Together, we can discover the unknown.</p>
    
                            <p>Stay tuned for more updates on <a href="https://x.com/BuzhiOrg">our X account</a>.</p>

                            <br />

                            <div class="author">
                            <span>
                                <a href="https://x.com/BuzhiOrg">
                                FOLLOW BUZHI ON X
                                </a>
                            </span>
                            </div>
    
                            <div class="author">
                                <span>Welcome aboard! </span>
                                <span>Manuel and Martín</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Area End -->

    <!-- Journal Area Start -->
    {% include "../../../../elements/short-elements/journal.twig" %}
    <!-- Journal Area End -->

</main>

<!-- Footer -->
{% include "../../../../elements/footer.twig" %}
<!-- Footer script-->
{% include "../../../../elements/footer-script.twig" %}