<!-- Header Link -->
{% include "../../../../elements/header-link.twig" with {'class': 'blog-home'} %}
<!-- Header  -->
{% include "../../../../elements/header.twig" with {'class': 'no-navbar'} %}

<main>

    <!-- Blog Area Start -->
    <div class="blog-area">
        <div class="container">
            <div class="blog-wrapper">
                <img class="star-shape" src="/assets/img/shape/star-shape.svg" alt="shape">
                <div class="blog-wrap">
                    <div class="blog-top">
                        <div class="explore">
                            <h6>scroll to <br>explore</h6>
                            <img src="/assets/img/shape/investing-shape-01.svg" alt="investing">
                        </div>
                        <div class="blog-top-inner">
                            {% include "../../../../elements/svg/dots-group-shape.twig" %}
                            <span>Sunday, December 15, 2024</span>
                            <h1>How We Like to Invest</h1>
                        </div>
                    </div>
                    <!-- Blog Exprience -->
                    <div class="blog-exp-wrpper">
                        <div class="blog-exp-inner">
                            <div class="blog-exp-thumb">
                                <img src="/assets/img/team/shape-02.svg" alt="blog">
                            </div>
                            <div class="blog-exp-content">
                                <p>Both Martín and myself have been founders, and we have some strong opinions on what constitutes a good investor.</p>
    
                                <p>This post is an attempt to document that, as well as a public commitment to being good investors ourselves.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Banner -->
                    <div class="blog-banner">
                        <img src="/assets/img/journal/invest-cover.jpg" alt="investment philosophy cover">
                    </div>
                    <!-- Details -->
                    <div class="blog-details-wrap">
                        <div class="blog-details">
                            
                            <br />
                            <p>
                                If you ever catch us not following these principles, we encourage you to call us out (in private, please).
                            </p>
                            
                            <h4>1. Respect Founder's Time</h4>
                            <p>
                                Founder life is chaos. 
                                A roller coaster of emotions and a constant stumble between different fires that tug for your attention.
                                We aim not to be yet another thing competing for your attention.
                            </p>

                            <p>
                                We'll never send emails asking you for "thoughts" on a potential investment we're considering.
                                We may offer to skip a pitch call if we're already excited about supporting your project.
                                We'll even go as far as interacting with founders only at their request.
                                We won't try to "add value" unless explicitly requested.*
                            </p>

                            <p>
                                *=this may not apply to founders who are also friends, in which case I might ask "how's X going?" as a friend and not as an investor.
                            </p>
                            
                            <h4>2. Unapologetic Candidness</h4>
                            <p>
                                If you ask for feedback on anything, we won't hold anything back.
                                As founders, we found that our best interactions with investors came from hearing some things we didn't like, which team members were also in denial about.
                                We strive to offer that fresh pair of eyes that are eager to tell you hard truths.
                            </p>

                            <h4>3. Slow Pace</h4>
                            <p>
                                Founder's life is already hectic enough.
                                We'd like to contribute some calmness and thoughtfulness.
                                If you ask for help, or send us an email, we'd rather take our time to reply than give a quick and dirty, "good enough" reply.
                                We aim to be wise rather than clever and quick.
                            </p>

                            <p>
                                That's all.
                                We hereby commit to respecting founder's time, being unapologetically candid, and moving at a slow pace.
                            </p>

                            <p>
                                If our investment approach resonates with you and you're looking for funding for your tech exploration, feel free to reach out at contact@buzhi.io
                            </p>

                            <br />

                            <div class="author">
                            <span>
                                <a href="https://x.com/BuzhiOrg">
                                FOLLOW BUZHI ON X
                                </a>
                            </span>
                            </div>
    
                            <div class="author">
                                <span>Best regards, </span>
                                <span>Manuel and Martín</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Area End -->

    <!-- Journal Area Start -->
    {% include "../../../../elements/short-elements/journal.twig" %}
    <!-- Journal Area End -->

</main>

<!-- Footer -->
{% include "../../../../elements/footer.twig" %}
<!-- Footer script-->
{% include "../../../../elements/footer-script.twig" %}